/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
    --background-image: url("../images/cover-image-light.png");
    --pink-color: #ff8dcb;
    --text-color: #353430;
    --button-color: #353430;
    --background-color: #fff1f7;
    --header-color: #ffc2e6;
    --header-colour-decor: #ff8dcb;
    --question-color: #353430;
    --font-size: 18px;
}

@media {
    :root {
        .decore_name {
            color: var(--background-color);
        }

        .round::after {
            background-color: var(--background-color);
            box-shadow: 0 0 0 0 var(--button-color);
        }
    }
}
